@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('./utils.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

@layer components {
  .text-mainTitle {
    font-size: clamp(1.7rem, 7vw, 6rem);
  }
}

/* Webfont: Merchant-SemiBoldCondensed */
@font-face {
  font-family: 'MerchantSemBdCond';
  src: url('/fonts/Merchant-SemiBoldCondensed.woff2') format('woff2'),
    /* Modern Browsers */ url('/Merchant-SemiBoldCondensed.otf')
      format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Merchant-Thin */
@font-face {
  font-family: 'MerchantThin';
  src: url('/fonts/Merchant-Thin.woff2') format('woff2'),
    /* Modern Browsers */ url('/Merchant-Thin.otf') format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Merchant-Expanded */
@font-face {
  font-family: 'MerchantExp';
  src: url('/fonts/Merchant-Expanded.woff2') format('woff2'),
    /* Modern Browsers */ url('/Merchant-Expanded.otf') format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Merchant-ThinCondensed */
@font-face {
  font-family: 'MerchantThinCond';
  src: url('/fonts/Merchant-ThinCondensed.woff2') format('woff2'),
    /* Modern Browsers */ url('/Merchant-ThinCondensed.otf') format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.font-merc {
  font-family: MerchantThinCond, sans-serif;
}
