@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('./utils.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  overflow-y: hidden;
}

@layer components {
  .text-mainTitle {
    @apply whitespace-nowrap text-center font-merchant-expanded leading-none text-white [fontSize:clamp(1.7rem,7vw,6rem)];
  }

  .text-title {
    @apply font-merchant-expanded leading-8 [fontSize:clamp(1.7rem,5.5vw,4.8rem)] sm:leading-tight lg:leading-none;
  }

  .text-body {
    @apply font-merchant-thin [fontSize:clamp(1rem,3vw,1.5rem)];
  }

  .contain {
    @apply px-10 md:px-20 lg:px-32;
  }

  .testimony {
    @apply flex flex-col gap-40 md:gap-52 lg:gap-60 xl:gap-[40rem] xl:border-x-[1px] xl:border-x-gray-500 xl:py-60 xl:px-12;
  }
}

/* Webfont: Merchant-SemiBoldCondensed */
@font-face {
  font-family: 'MerchantSemBdCond';
  src: url('/fonts/Merchant-SemiBoldCondensed.woff2') format('woff2'),
    /* Modern Browsers */ url('/fonts/Merchant-SemiBoldCondensed.otf')
      format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Merchant-Thin */
@font-face {
  font-family: 'MerchantThin';
  src: url('/fonts/Merchant-Thin.woff2') format('woff2'),
    /* Modern Browsers */ url('/fonts/Merchant-Thin.otf') format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Merchant-Expanded */
@font-face {
  font-family: 'MerchantExp';
  src: url('/fonts/Merchant-Expanded.woff2') format('woff2'),
    /* Modern Browsers */ url('/fonts/Merchant-Expanded.otf') format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Merchant-ThinCondensed */
@font-face {
  font-family: 'MerchantThinCond';
  src: url('/fonts/Merchant-ThinCondensed.woff2') format('woff2'),
    /* Modern Browsers */ url('/fonts/Merchant-ThinCondensed.otf')
      format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GoogleSansReg';
  src: url('/fonts/ProductSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GoogleSansMd';
  src: url('/fonts/ProductSans-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.font-merc {
  font-family: MerchantThinCond, sans-serif;
}
