/*
 Hover Effect
 */

.hover-effect {
  position: relative;
}

.hover-effect:after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  right: 0;
  background: #00af56;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.menu {
  user-select: none;
  counter-reset: menucounter;
  z-index: 11;
}

.menu-item {
  position: relative;
  cursor: pointer;
}

/* .menu-item::before {
  counter-increment: menucounter;
  content: counters(menucounter, ".", decimal-leading-zero);
  position: absolute;
  left: -15px;
  top: -0.1rem;
  font-size: 10px;
} */

.menu-item-text {
  pointer-events: none;
  line-height: 1;
  position: relative;
}

.menu-item > div:nth-child(1) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}

.menu-item > div:nth-child(2) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}

.animated-gradient {
  background: linear-gradient(
    to right,
    rgb(55, 118, 255),
    rgb(82, 180, 82),
    rgb(194, 194, 43),
    rgb(223, 44, 44)
  );
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgb(255, 255, 255);
  transition: color 0.2s ease-in-out;
}
.animated-gradient:hover {
  color: rgba(0, 0, 0, 0);
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
